---
layout: blue
---
		
	<ol class="breadcrumb">
	  <li><a href="/">Home</a></li>
	  <li class="active">Apps</li>
	</ol>

	
    <div class="container">
    
        <div class="row">
	        <div class="col-lg-4 heading-lead page-scroll">
				<br>
                <div class="clearfix"></div>
	            <h2><i class="fa fa-gear fa-fw"></i>
	            Core</h2>
	            <p>Core applications are plugins of the Eclipse Dirigible and can be integrated as extensions.
	            Each and every released version of these plugins go throughout the 
	            <a href="http://www.eclipse.org/community/eclipse_newsletter/2014/july/article4.php">Eclipse IP Process</a> 
	            and become an integral part of the consequtive release of the Eclipse Dirigible itslef.</p>
	            <p>Recent:</p>
	            <ul>
		            {% for post in site.tags.core %}
						{% if post.categories contains 'apps' %}
							<li><a href="{{ post.info }}">{{ post.title }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
				<a class="btn btn-default" href="apps_core.html">All Core Apps</a>
	        </div>
	        <div class="col-lg-4 heading-lead">
				<br>
                <div class="clearfix"></div>
	            <h2><i class="fa fa-gift fa-fw"></i>
	            Samples</h2>
	            <p>Sample applications show specific aspects of the usage of Eclipse Dirigible and Enterprise JavaScript API.
	            There are two types of samples in this category:
		            <ul>
		            	<li>Simple Samples - demoing a single feature or a single API usage. They are supposed to be highly reusable code snipets.</li>
		            	<li>Solution Samples - showing more complex use-cases much closer to the real world applications.</li>
		            </ul> 
	            </p>
	            <p>Recent:</p>
	            <ul>
		            {% for post in site.tags.sample %}
						{% if post.categories contains 'apps' %}
							<li><a href="{{ post.info }}">{{ post.title }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
				<a class="btn btn-default" href="apps_sample.html">All Sample Apps</a>
	        </div>
	        <div class="col-lg-4 heading-lead">
				<br>
                <div class="clearfix"></div>
	            <h2><i class="fa fa-external-link fa-fw"></i>
	            Extensions</h2>
	            <p>Extension applications are pluggins, which enhance the functionality of the Eclipse Dirigible itself.
	            They are not supposed to be an integral part of Dirigible, but can be easily imported and used by the end-users on their own instances.
				Applications in this category are developed by the Dirigible Labs teams, but have not passed (nor their dependencies) the Eclipse IP Process.
	            </p>
	            <p>Recent:</p>
	            <ul>
		            {% for post in site.tags.ext %}
						{% if post.categories contains 'apps' %}
							<li><a href="{{ post.info }}">{{ post.title }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
				<a class="btn btn-default" href="apps_template.html">All Extensions Apps</a>
	        </div>
	    </div>
	    
	    <div class="row">
	        <div class="col-lg-4 heading-lead page-scroll">
				<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	            <h2><i class="fa fa-puzzle-piece fa-fw"></i>
	            Templates</h2>
	            <p>This category contains the template projects providing the custom extensions to the artifact generation process in the Eclipse Dirigible.
	            The end users can choose templates based on various client side frameworks as well as covering different user experience patterns.
	            Ones imported they become available to be selected from the generation wizards in the Web IDE.  
	            </p>
	            <p>Recent:</p>
	            <ul>
		            {% for post in site.tags.template %}
						{% if post.categories contains 'apps' %}
							<li><a href="{{ post.info }}">{{ post.title }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
				<a class="btn btn-default" href="apps_template.html">All Template Projects</a>
	        </div>
	        <div class="col-lg-4 heading-lead">
				<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	            <h2><i class="fa fa fa-group fa-fw"></i>
                Community Extensions</h2>
				<p>Extensions of Eclipse Dirigible itself developed by the community outside of Dirigible Labs.
				The projects under this category can link source code base with an arbitrary licenses and origin.  
	            </p>
	            <p>Recent:</p>
	            <ul>
		            {% for post in site.tags.comext %}
						{% if post.categories contains 'apps' %}
							<li><a href="{{ post.info }}">{{ post.title }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
				<a class="btn btn-default" href="apps_comext.html">All Community Extensions</a>
	        </div>
	        <div class="col-lg-4 heading-lead">
				<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	            <h2><i class="fa fa-shopping-basket fa-fw"></i>
                Community Apps</h2>
	            <p>This category contains applications provided by the community.
	            They can be imported into the user's Dirigble instance and used directly "as is" or reused as components for building brand new applications.
	            Under this category can be linked projects with arbitrary licenses and origin. 
	            </p>
	            <p>Recent:</p>
	            <ul>
		            {% for post in site.tags.comapp %}
						{% if post.categories contains 'apps' %}
							<li><a href="{{ post.info }}">{{ post.title }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
				<a class="btn btn-default" href="apps_comapp.html">All Community Apps</a>
	        </div>
	    </div>
	    
    </div>
    <!-- /.container -->
    
    <br/>
    <hr/>
    <br/>
    
    <div class="content-section-a" id="hub">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Applications Hub</h2>
					<p class="lead">Applications Hub is a place where the Dirigible community can share, learn and collaborate 
					on the projects built-with and run-on Eclipse Dirigible.
					There are several groups of applications depending on their type (core, sample, template, extension) and as well as on thier origin and license.
					Applications Hub on dirigible.io site is supposed to be not only a simple catalog, where the projects can be linked for download or import,
					but also a place where the project owners can advertise their work and skills in Eclipse Dirigible and the various business areas.
					</p>
					<p>To link your project under the Applications Hub, you can make a pull request with a page describing your project with 
					the mandatory information like:
						<ul>
							<li>author - the GitHub user or GitHub organization</li>
							<li>repository - a Git based source code repository</li>
							<li>license - preferred are the more permissive licenses e.g Apache v2, MPL, MIT. If you plan your project to become part of the core of Eclipse Dirigible, it is good to use EPL from the beginning.
						</ul>
					For reference you can use <a href="https://github.com/dirigible-io/dirigible-io.github.io/blob/master/_posts/apps/2016-07-12-app_core_api.md">core_api</a>
					</p>
					<p>Only projects with a valid and well known open-source license will be approved.
					GPL, LGPL and AGPL will be rejected as of now due to legal issues, which prevents such projects to be inclued in commercial products with closed source in the future.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
					<span class="pictogram"><i class="fa fa-users fa-fw"></i></span>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    

    </div>
    <!-- /.content-section-a -->