---
layout: blue
---

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/apps.html">Apps</a></li>
  <li class="active">Core Apps</li>
</ol>
	
<div class="container">
	<div class="post">
		<div>
			{% for post in site.tags.core %}
				{% if post.categories contains 'apps' %}
					<div>
						<p class="post-position">
							<div class="col-sm-11">
							<i class="fa fa-{{ post.icon }} fa-fw"></i>	<a href="{{ post.info }}">{{ post.brief }}</a>
							</div>
						</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>


<br/>
<hr/>
<br/>