---
layout: default
---

{% for menu in site.data.menu %}
<h2>{{ menu.menu }}</h2>
{% endfor %}


    <div class="intro-header grid" id="home">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1  itemprop="name"><img itemprop="image" src="img/dirigible.svg" class="logo" alt="Dirigible's Logo">dirigible</h1>
                        <h3>Enjoy Programming Like Never Before</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li><a href="https://github.com/eclipse/dirigible/blob/master/README.md#get-started" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-play-circle fa-fw"></i> <span class="network-name">Get Started</span></a>
                            </li>
                            <li><a href="http://trial.dirigible.io" class="btn btn-primary btn-lg" target="_blank"><i class="fa fa-laptop fa-fw"></i> <span class="network-name">Instant Trial</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
             
	            
        </div>
        <!-- /.container -->
        
        <div class="social-media">
	            <div class="container text-center">
	                <ul class="list-inline">
	                    <li class="twitter-follow"><a href="https://twitter.com/dirigible_io" class="twitter-follow-button" data-show-count="false">Follow @dirigible_io</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	                    </li><!--//twitter-follow-->
	                    <li class="twitter-tweet">
	                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="dirigible_io" data-hashtags="insysdev">Tweet</a>
	    	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	                    </li><!--//twitter-tweet-->
	                    <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
	                    <li class="github-star"><iframe src="http://ghbtns.com/github-btn.html?user=eclipse&repo=dirigible&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>
	                    <li class="github-fork"><iframe src="http://ghbtns.com/github-btn.html?user=eclipse&repo=dirigible&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe></li>
	                </ul>
	            </div>
	        </div>
        <!-- /.social-media -->
        
    </div>
    <!-- /.intro-header -->


    <div class="container">
        <div class="row">
	        <div class="col-lg-4 heading-lead page-scroll">
				<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	            <h2><i class="fa fa-question-circle fa-fw"></i>
                What is Dirigible?</h2>
	            <p>Dirigible is a cloud development platform providing both development tools and runtime environment. It supports full development life-cycle of on-demand applications by leveraging in-system programming models and rapid application development techniques.</p>
	            <a class="btn btn-default" href="http://www.dirigible.io/project.html">More Info</a>
	        </div>
	        <div class="col-lg-4 heading-lead">
				<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	            <h2><i class="fa fa fa-search fa-fw"></i>
                What is it for?</h2>
	            <p>Dirigible provides capabilities for end-to-end development process from database modeling and management, through RESTful services authoring using various dynamic languages, to pattern-based user interface generation, role based security, external services integration, testing, debugging, operations, and monitoring.</p>
	            <a class="btn btn-default" href="http://www.dirigible.io/features.html">More Info</a>
	        </div>
	        <div class="col-lg-4 heading-lead">
		<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	        <h2><i class="fa fa-github fa-fw"></i>
                Is it free?</h2>
	            <p>YES<br/>All Dirigible source code and sample applications are licensed under 
	            <a href='https://www.eclipse.org/legal/epl-v10.html' target='_blank'>Eclipse Public License - v 1.0</a>
	            and maintained at <a href="https://github.com/eclipse/dirigible" target="_blank">GitHub</a>.</p>
	            <a class="btn btn-default" href="https://github.com/eclipse/dirigible" target="_blank">More Info</a>
	        </div>
	    </div>
    </div>
    
    <br/>
    <hr/>
    <br/>
    
    
    <div class="content-section-a" id="news">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">News and Updates</h2>
					<div>
						{% for post in site.tags.news limit:6 %}
							{% if post.categories contains 'news' %}
								<p class="post-item">
									{{ post.date | date: '%Y-%m-%d' }} <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
								</p>
							{% endif %}
						{% endfor %}
					</div>
					<a class="btn btn-default" href="{{ site.url }}/news.html" target="_blank">More</a>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                    <span class="pictogram"><i class="fa fa-rss fa-fw"></i></span>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b" id="blogs">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
					<h2 class="section-heading">Blog it out!</h2>
					<div>
						{% for post in site.tags.blogs limit:6 %}
							{% if post.categories contains 'blogs' %}
								<p class="post-item">
									{{ post.date | date: '%Y-%m-%d' }}  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
								</p>
							{% endif %}
						{% endfor %}
					</div>
					<a class="btn btn-default" href="{{ site.url }}/blogs.html" target="_blank">More</a>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
					<span class="pictogram"><i class="fa fa-comments-o fa-fw"></i></span>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    
   
	
	<div class="banner grid">
        <div class="container" id="contact">

            <div class="row">
                <div class="col-lg-12">
                    <h2>Contact Dirigible:</h2>
                </div>
                <div class="col-lg-12">
                    <ul class="list-inline banner-social-buttons">
			<li><a href="https://www.eclipse.org/forums/index.php?t=thread&frm_id=311" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-comments-o fa-fw"></i> <span class="network-name">Forum</span></a>
                        </li>
			<li><a href="https://bugs.eclipse.org/bugs/buglist.cgi?list_id=12171979&product=Dirigible&query_format=advanced" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-bug fa-fw"></i> <span class="network-name">Bugzilla</span></a>
                        </li>
			<li><a href="https://dev.eclipse.org/mailman/listinfo/dirigible-dev" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-envelope-o fa-fw"></i> <span class="network-name">Maillist</span></a>
                        </li>
			<li><a href="https://wiki.eclipse.org/Dirigible" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-info fa-fw"></i> <span class="network-name">Wiki</span></a>
                        </li>
                        <li><a href="https://www.eclipse.org/dirigible/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-moon-o fa-fw"></i> <span class="network-name">Eclipse</span></a>
                        </li>
                    </ul><br/><br/><br/>
                    <ul class="list-inline banner-social-buttons">
                        <li><a href="https://twitter.com/dirigible_io" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li><a href="https://github.com/eclipse/dirigible" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li><a href="https://plus.google.com/u/0/111171361109860650442/posts" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                        </li>
                        <li><a href="https://www.youtube.com/channel/UCYnsiVQ0M9iQLqP5DXCLMBA/videos" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">Youtube</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->


