---
layout: default_home
---

    <div class="container">
        <div class="row">
	        <div class="col-lg-4 heading-lead page-scroll">
				<br>
                <div class="clearfix"></div>
	            <h2><i class="fa fa-question-circle fa-fw"></i>
                What is Dirigible?</h2>
	            <p>Eclipse Dirigible<sup>&trade;</sup> is a Cloud Development Platform providing development tools and runtime environment. It supports full development life-cycle of on-demand applications by leveraging in-system programming models and rapid application development techniques.</p>
	            <a class="btn btn-default" href="/project.html">Overview</a>
	        </div>
	        <div class="col-lg-4 heading-lead">
				<br>
                <div class="clearfix"></div>
	            <h2><i class="fa fa fa-search fa-fw"></i>
                What can I do?</h2>
	            <p>Eclipse Dirigible provides capabilities for end-to-end development process from database modeling and management, through RESTful services authoring using various dynamic languages, to pattern-based user interface generation, role based security, external services integration, testing, debugging, operations, and monitoring.</p>
	            <a class="btn btn-default" href="/features.html">Features</a>
	        </div>
	        <div class="col-lg-4 heading-lead">
				<br>
                <div class="clearfix"></div>
	        	<h2><i class="fa fa-github fa-fw"></i>
                Is it free?</h2>
	            <p>YES<br/>All the Eclipse Dirigible project's source code and sample applications are licensed under 
	            <a href='https://www.eclipse.org/legal/epl-v10.html' target='_blank'>Eclipse Public License - v 1.0</a>
	            and maintained at <a href="https://github.com/eclipse/dirigible" target="_blank">GitHub</a>.</p>
	            <a class="btn btn-default" href="https://github.com/eclipse/dirigible" target="_blank">GitHub</a>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-lg-4 heading-lead page-scroll">
				<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	            <h2><i class="fa fa-graduation-cap fa-fw"></i>
                For Education</h2>
	            <p>You can develop student projects, test different technologies and scenarios, learn popular programming languages.</p>
	            <!-- <a class="btn btn-default" href="help/develop_web_ide.html">WebIDE</a> -->
	        </div>
	        <div class="col-lg-4 heading-lead">
				<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	            <h2><i class="fa fa-file fa-fw"></i>
                For Developers</h2>
	            <p>Eclipse Dirigible provides everything you need for your development project:</p>
	            <ul>
	            	<li>Application server</li>
	            	<li>Content repository</li>
	            	<li>Web IDE</li>
	            	<li>Variety of features</li>
	            </ul>	
	            <a class="btn btn-default" href="for_developers.html">Developers Space</a>
	        </div>
	        <div class="col-lg-4 heading-lead">
				<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	        <h2><i class="fa fa-line-chart fa-fw"></i>
                For Business</h2>
	            <p>You can easily develop, document, and monitor your business applications, taking full advantage of the diverse selection of features and services offered by Eclipse Dirigible.</p>
	            <!-- <a class="btn btn-default" href="help/architecture.html" target="_blank">Architecture</a> -->
	        </div>
	    </div>
    </div>
    
    <br/>
    <hr/>
    <br/>
    
    
    <div class="content-section-a" id="news">

        <div class="container">

            <div class="row">
	            
	            <div id="carousel-home-generic" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-home-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-home-generic" data-slide-to="1" class=""></li>
						<li data-target="#carousel-home-generic" data-slide-to="2" class=""></li>
						<li data-target="#carousel-home-generic" data-slide-to="3" class=""></li>
						<li data-target="#carousel-home-generic" data-slide-to="4" class=""></li>
						<li data-target="#carousel-home-generic" data-slide-to="5" class=""></li>
						<li data-target="#carousel-home-generic" data-slide-to="6" class=""></li>
						<li data-target="#carousel-home-generic" data-slide-to="7" class=""></li>
						<li data-target="#carousel-home-generic" data-slide-to="8" class=""></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
					
						<div class="item active">
						  <img src="img/home/Cockpit.png" alt="">
						  <div class="carousel-caption">
							Cloud Development Platform covering end-to-end development and operations life-cycle of applications 
						  </div>
						</div>
						<div class="item">
						  <img src="img/home/WebIDE.png" alt="">
						  <div class="carousel-caption">
							Full-fledged WebIDE in the browser - no installations required
						  </div>
						</div>
						<div class="item">
						  <img src="img/home/PatternUI.png" alt="">
						  <div class="carousel-caption">
							Pattern based user interface templates and generators
						  </div>
						</div>
						<div class="item">
						  <img src="img/home/DBPerspective.png" alt="">
						  <div class="carousel-caption">
							Direct access to the SQL databases for inspection and alteration
						  </div>
						</div>
						<div class="item">
						  <img src="img/home/Orion.png" alt="">
						  <div class="carousel-caption">
							Powerful source code editor with highlighting, code assist, search/replace
						  </div>
						</div>
						<div class="item">
						  <img src="img/home/Tabris.png" alt="">
						  <div class="carousel-caption">
							Mobile applications development support with Tabris
						  </div>
						</div>
						<div class="item">
						  <img src="img/home/Discover.png" alt="">
						  <div class="carousel-caption">
							Holistic view on the available services, web content and configurations 
						  </div>
						</div>
						<div class="item">
						  <img src="img/home/Transport.png" alt="">
						  <div class="carousel-caption">
							Automated repository transport, backup and clone 
						  </div>
						</div>
						<div class="item">
						  <img src="img/home/Monitor.png" alt="">
						  <div class="carousel-caption">
							Monitor various basic metrics - access log, response time, memory...
						  </div>
						</div>
						
					</div>
					<!-- Controls -->
				  <a class="left carousel-control" href="#carousel-home-generic" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				  </a>
				  <a class="right carousel-control" href="#carousel-home-generic" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				  </a>
				</div>

			</div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b" id="blogs">

        <div class="container">

            <div class="row">
	            <div class="col-sm-8">
	                <h2>Blog it out!</h2>
	                <div>
						{% for post in site.tags.blogs limit:10 %}
							{% if post.categories contains 'blogs' %}
								<div>
									<p class="post-position">
										<img class="img-responsive col-sm-1" src="/img/team/{{ post.author }}.png" style="border-radius: 50%;">
										<div class="col-sm-11">
										{{ post.brief }}
										</div>
									</p>
								</div>
							{% endif %}
						{% endfor %}
						
					</div>
					<br>
					<a class="btn btn-default" href="{{ site.url }}/blogs.html" target="_blank">All Posts ...</a>
	            </div>
	            <div class="col-sm-4">
	                <h2>News and Updates</h2>
	                <div>
						{% for post in site.tags.news limit:6 %}
							{% if post.categories contains 'news' %}
								<p class="post-item">
									{{ post.date | date: '%Y-%m-%d' }} <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
								</p>
							{% endif %}
						{% endfor %}
					</div>
					<br>
					<a class="btn btn-default" href="{{ site.url }}/news.html" target="_blank">All News ...</a>
	            </div>
	            <div class="col-sm-4">
	                <h2>Releases</h2>
	                <div>
						{% for post in site.tags.release limit:6 %}
							{% if post.categories contains 'release' %}
								<p class="post-item">
									{{ post.date | date: '%Y-%m-%d' }} <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
								</p>
							{% endif %}
						{% endfor %}
					</div>
					<br>
					<a class="btn btn-primary" href="http://download.eclipse.org/dirigible" target="_blank">Downloads</a>
	            </div>
	            
	            <div class="col-sm-4">
	            	<h2>Tweets</h2>
		            <a class="twitter-timeline" href="https://twitter.com/dirigible_io" data-tweet-limit="3">Tweets by dirigible_io</a>
		            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          		</div>
	        </div>
            

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

