<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="dirigible.io">
    
    <meta name="twitter:dnt" content="on">
    
    <link rel="shortcut icon" type="image/png" href="{{ site.url }}/img/favicon.png" />

    <title>Eclipse Dirigible | Cloud Development Platform</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="{{ site.url }}/css/default.css" rel="stylesheet">

</head>

<body itemscope itemtype="https://schema.org/SoftwareApplication">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{ site.url }}">
                    Eclipse Dirigible <sup>&trade;</sup>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="{{ site.url }}">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a itemprop="url" href="{{ site.url }}/project.html">Overview</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{{ site.url }}/features.html">Features</a>
                    </li>

					<li class="page-scroll">
	                    <ul class="nav navbar-nav navbar-right">
				          <li class="dropdown" style="background-color:  transparent">
				          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background-color: transparent">Community <b class="caret"></b></a>
				          	<ul class="dropdown-menu">
				                <li><a href="https://www.youtube.com/channel/UCYnsiVQ0M9iQLqP5DXCLMBA/videos" target="_blank" >Videos</a></li>
				                <li><a href="{{ site.url }}/news.html" target="_blank">Newsletter</a></li>
				                <li><a href="{{ site.url }}/blogs.html" target="_blank">Blogs</a></li>
				                <li><a href="https://www.eclipse.org/forums/index.php?t=thread&frm_id=311" target="_blank">Forum</a></li>
				                <li><a href="https://wiki.eclipse.org/Dirigible" target="_blank">Wiki</a></li>
				                <li><a href="https://github.com/eclipse/dirigible/issues" target="_blank">Issues</a></li>
				                <li><a href="https://dev.eclipse.org/mailman/listinfo/dirigible-dev" target="_blank">Mailing List</a></li>
				                <li><a href="https://twitter.com/dirigible_io" target="_blank">Twitter</a></li>
				                <li><a href="https://plus.google.com/u/0/111171361109860650442/posts" target="_blank">Google+</a></li>
				                <li><a href="https://www.facebook.com/dirigible.io/" target="_blank">Facebook</a></li>
				                <li><a href="https://www.linkedin.com/groups/8413366/" target="_blank">Linkedin</a></li>
						<li><a href="https://eclipse-dirigible.slack.com" target="_blank">Slack</a></li>
				              </ul>
				          </li>
				        </ul>
				    </li>

					<li class="page-scroll">
				        <ul class="nav navbar-nav navbar-right">
				          <li class="dropdown" style="background-color: transparent">
				          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background-color: transparent">Documentation <b class="caret"></b></a>
				          	<ul class="dropdown-menu">
				                <li><a href="{{ site.url }}/help/" target="_blank" >Help</a></li>
				                <li><a href="{{ site.url }}/api/" target="_blank" >API</a></li>
				                <li><a href="{{ site.url }}/samples/" target="_blank" >Samples</a></li>
				                <li><a href="{{ site.url }}/blogs.html" target="_blank" >Tutorials</a></li>
				              </ul>
				          </li>
				        </ul>
					</li>

					<li class="page-scroll">
                        <a class="btn-primary" href="https://github.com/eclipse/dirigible" target="_blank"><i class="fa fa-github fa-fw"></i><span class="network-name">GitHub</span></a>
                    </li>
					<li class="page-scroll">
                        <a class="btn-primary" href="http://download.dirigible.io" target="_blank"><i class="fa fa-cloud-download fa-fw"></i><span class="network-name">Downloads</span></a>
                    </li>


                </ul>
            </div>
            <!-- /.navbar-collapse 
            <a href="https://github.com/eclipse/dirigible" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github.blog/wp-content/uploads/2008/12/forkme_right_orange_ff7600.png?resize=149%2C149" alt="Fork me on GitHub"></a>
            -->
        </div>
        <!-- /.container -->
    </nav>


    <div class="intro-header grid-home" id="home">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                    <!-- 
                        <h1 itemprop="name"><img itemprop="image" src="/img/dirigible.svg" class="logo" alt="Dirigible's Logo">dirigible</h1>
                    -->
                        <h3>Cloud Development Platform</h3>
                        <h2><i>Enjoy Programming Like Never Before</i></h2>
                        <hr class="intro-divider">
                    
                       
                    </div>
                    <ul class="list-inline intro-social-buttons">
                        <li><a href="{{ site.url }}/help/getting_started.html" class="btn btn-default btn-lg"><i class="fa fa-laptop fa-fw"></i> <span class="network-name">Getting Started</span></a>
                        </li>
                        <li><a href="http://trial.dirigible.io" class="btn btn-primary btn-lg" target="_blank" onclick="ga('send', 'event', 'buttons', 'click', 'try-it-out')"><i class="fa fa-paper-plane fa-fw"></i> <span class="network-name">Try it out</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->


        <div class="social-media">
	            <div class="container text-center">
			    <!--
	            	<ul class="list-inline">
	                    <li class="twitter-follow"><a href="https://twitter.com/dirigible_io" class="twitter-follow-button" data-show-count="true">Follow @dirigible_io</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	                    </li>
	                    <li class="twitter-tweet">
	                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="dirigible_io" data-hashtags="clouddevelopment">Tweet</a>
	    	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	                    </li>
	                    <li class="github-star"><iframe src="https://ghbtns.com/github-btn.html?user=eclipse&repo=dirigible&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>
	                    <li class="github-fork"><iframe src="https://ghbtns.com/github-btn.html?user=eclipse&repo=dirigible&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe></li>
	                </ul>
			-->
	            </div>
	        </div>
        <!-- /.social-media -->

    </div>
    <!-- /.intro-header -->