---
layout: blue
---

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/catalog.html">Catalog</a></li>
  <li class="active">Core Apps</li>
</ol>
	
<div class="container">
	<h2>Core Applications</h2>
	<br>
	<p>Core applications are plugins of the Eclipse Dirigible and can be integrated as extensions.
    Each and every released version of these plugins go throughout the 
    <a href="http://www.eclipse.org/community/eclipse_newsletter/2014/july/article4.php">Eclipse IP Process</a> 
    and become an integral part of the consecutive release of the Eclipse Dirigible itself.</p>
	<br>
	<div>
		<div>
			{% for post in site.tags.core %}
				{% if post.categories contains 'apps' %}
					<div>
						<p>
							<div class="col-sm-11">
								<p><i class="fa fa-{{ post.icon }} fa-fw"></i>	<a href="../{{ post.info }}">{{ post.title }}</a> - {{ post.brief }}...</p>
							</div>
						</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>


<br/>
<hr/>
<br/>