---
layout: blue
---

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/catalog.html">Catalog</a></li>
  <li class="active">Extension Apps</li>
</ol>
	
<div class="container">
	<h1 align="center">Extension Applications</h1>
	<h3 align="center">Plugins that you can import on your own instance</h3>
	<br>
	<p>Extension applications are plugins, which enhance the functionality of Eclipse Dirigible.
	They are not supposed to be an integral part of the platform, but can be easily imported and used by end users on their own instances.
	Applications in this category are developed by the Dirigible Labs teams, but have not passed (nor their dependencies) the <a href="http://www.eclipse.org/community/eclipse_newsletter/2014/july/article4.php">Eclipse IP Process</a>.
	</p>
	<br>
	<div>
		<div>
			{% for post in site.tags.ext %}
				{% if post.categories contains 'apps' %}
					<div>
						<p>
							<div class="col-sm-11">
								<p><i class="fa fa-{{ post.icon }} fa-fw"></i>	<a href="../{{ post.info }}">{{ post.title }}</a> - {{ post.brief }}</p>
							</div>
						</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>


<br/>
<hr/>
<br/>
