---
layout: blue
---

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/catalog.html">Catalog</a></li>
  <li class="active">Sample Apps</li>
</ol>
	
<div class="container">
	<h1 align="center">Sample Applications</h1>
	<h3 align="center">Applications demonstrating the APIs and features of Eclipse Dirigible</h3>
	<br>
	<p>The sample applications show specific aspects of the usage of Eclipse Dirigible and the Enterprise JavaScript API.
    There are two types of samples in this category:
     <ul>
     	<li>Simple Samples - demo a single feature or a single API usage. They are created to be highly reusable code snipets.</li>
     	<li>Solution Samples - showing more complex use cases that follow real world scenarious.</li>
     </ul>
    </p>
	<br>
	<div>
		<div>
			{% for post in site.tags.sample %}
				{% if post.categories contains 'apps' %}
					<div>
						<p>
							<div class="col-sm-11">
								<p><i class="fa fa-{{ post.icon }} fa-fw"></i>	<a href="../{{ post.info }}">{{ post.title }}</a> - {{ post.brief }}</p>
							</div>
						</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>


<br/>
<hr/>
<br/>
