---
layout: blue
---

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/catalog.html">Catalog</a></li>
  <li class="active">Telecommunications Apps</li>
</ol>
	
<div class="container">
	<h1 align="center">Telecommunications Applications</h1>
	<h3 align="center">Apps developed by our community</h3>
	<br>
	<p>The telecommunications industry consists of telecommunication companies and internet service providers throughout the world. Here you can find applications related to this industry.
	</p>
	<br>
	<div>
		<div>
			{% for post in site.tags.telecommunications %}
				{% if post.categories contains 'apps' %}
					<div>
						<p>
							<div class="col-sm-11">
								<p><i class="fa fa-{{ post.icon }} fa-fw"></i>	<a href="../{{ post.info }}">{{ post.title }}</a> - {{ post.brief }}...</p>
							</div>
						</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>


<br/>
<hr/>
<br/>
