---
layout: blue
---

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/catalog.html">Catalog</a></li>
  <li class="active">Utilities Apps</li>
</ol>
	
<div class="container">
	<h1 align="center">Utilities Applications</h1>
	<h3 align="center">Apps developed by our community</h3>
	<br>
	<p>The utilities industry consists of electric, gas, and water companies. Their goal is to meet the needs of households and businesses. In order to achieve this, the companies are in constant need of maintaining a large infrastructure and have to keep track of the latest software and hardware advancements. Here you can find applications related to this industry.
	</p>
	<br>
	<div>
		<div>
			{% for post in site.tags.utilities %}
				{% if post.categories contains 'apps' %}
					<div>
						<p>
							<div class="col-sm-11">
								<p><i class="fa fa-{{ post.icon }} fa-fw"></i>	<a href="../{{ post.info }}">{{ post.title }}</a> - {{ post.brief }}...</p>
							</div>
						</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>


<br/>
<hr/>
<br/>
