{% include head.html %}

	<ol class="breadcrumb">
	  <li><a href="{{ site.url }}">Home</a></li>
	  <li><a href="{{ site.url }}/blogs.html">Releases</a></li>
	  <li class="active">{{ page.title }}</li>
	</ol>
	<div class="container">
		{% assign author = site.data.authors[page.author] %}
		<article class="post">
			<header>
				<h1>{{ page.title }}</h1>
				{% if author %}
				<img class="img-responsive" src="{{ site.url }}{{ author.avatar }}" role="presentation" style="border-radius: 50%;">
				<br>
				<sub class="post-info">{{ page.date | date: "%B %-d, %Y"}} by {{ author.name }}</sub>
				{% else %}
				<sub class="post-info">{{ page.date | date: "%B %-d, %Y"}}</sub>
				{% endif %}
			</header>
			{{ page.content }}
		</article>
		<div class="btn-group" role="group">
		  <div class="btn btn-secondary">
		    <a href="https://twitter.com/share" class="twitter-share-button" data-size="medium">Tweet</a>
		    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		  </div>
		  <div class="btn btn-secondary">
		    <script type="text/javascript" src="https://platform.linkedin.com/in.js"></script><script type="in/share" data-counter="right"></script>
		  </div>
		</div>
	</div>

{% include foot.html%}
