body, html {
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial;
	font-weight: 700;
}

p {
  margin: 0 0 10px;
}

.grid {
    background-color: #93B1CE;
    color: #454545;
}

.btn-primary {
    color: #fff !important;
    background-color: #2a435c !important;
    border: 1px solid #2a435c !important;
}

.social-media {
    background: #6186AA;
    padding-top: 20px;
    margin-bottom: -20px;
}

a {
    color: #2a435c !important;
}

.intro-header {
	padding-top: 20px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 20px;
	text-align: center;
}

.intro-message {
	position: relative;
	padding-top: 5%;
	padding-bottom: 2%;
}

.intro-message > h1 {
	margin: 0;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 8em;
}

@font-face {
font-family: �Montserrat�;
src: url(�webfont.eot�); 
src: url(�webfont.eot?#iefix�) format(�embedded-opentype�),
    url(�webfont.svg#svgFontName�) format(�svg�),
    url(�webfont.woff�) format(�woff�),
    url(�webfont.ttf�)  format(�truetype�);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	font-size: 1.8em;
    color: #454545;
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #f1f0ee;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 50px 0;
	color: #f8f8f8;
}

.banner h2 {
	margin: 0;
	font-size: 3em;
	color: #454545;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

p.copyright {
	margin: 15px 0 0;
}

.light {
    font-weight: 400;
    color: white;
}

.pictogram {
	padding: 20px;
	margin: 0;
	font-size: 18em;
    color: #93B1CE !important;
    text-align: center;
	vertical-align:text-middle;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.logo {
    border-radius: 10%;
    width: 300px; height: 220px;
}

.logo-small {
    width: 45px; height: 30px;    padding-top: 60px;
}

.navbar-default {
    font-size: 1.2em;
    background: #6186AA;
    border-color: #6186AA;
    color: white;
}

.navbar-default .navbar-brand {
    color: #bbb !important;
}

.navbar-default .navbar-nav li a {
    color: #eee !important;
}

.lead {
	font-size: 1.2em;
	font-weight: 400;
}

.heading-lead {
	font-size: 1em;
	font-weight: 400;
}

.container-heading {
    width: 100%;
    height: 200px;
}

.btn-register {
    margin:5px;
    padding: 5px !important;
    background-color: #428bca;
	border-color: #428bca;
}

.post{
	font-size: 1.2em;
    font-weight: 400;
	margin-top: 100px;
    margin-bottom: 50px;
}

.post-item {
	margin: 0px;
}

.post-position{
	margin: 0px;
	margin-bottom: 30px;
}

.post-info{
	font-size: 12px;
    color: #999;
	margin-bottom: 25px;
	bottom: .60em;
}
