{% if post.categories contains 'blogs' %}
  <div>
    {% assign author = site.data.authors[post.author] %}
    <p class="post-position">
      <img class="img-responsive col-sm-1" src="{{ author.avatar }}" role="presentation" style="border-radius: 50%;">
      <div class="col-sm-11">
        <h4>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h4>
        <sub class="post-info">{{ post.date | date: "%B %-d, %Y"}} by {{ author.name }}</sub><br>
        {{ post.excerpt | strip_html | truncatewords: 50}}
      </div>
    </p>
  </div>
{% endif %}